@using Jendamark.Assignment.Models


<div class="row justify-content-start">
    <div class="col-4">
        <Button Color="Color.Primary" Clicked="@AddOperation">Add Operation</Button>
    </div>
    <div class="col-4">
        <Button Color="Color.Primary" Clicked="@AddDevice">Add Device</Button>
    </div>
</div>

@code {
    [Parameter] public EventCallback<Operation> ShowOpModal { get; set; }
    [Parameter] public EventCallback<Device> ShowDeviceModal { get; set; }



   

    private async Task AddOperation()
    {
        await ShowOpModal.InvokeAsync();

    }
    private async Task AddDevice()
    {
        await ShowDeviceModal.InvokeAsync();
    }
   

}